* {
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	background-color: #e8e8e8;
}
body {
	padding: 0;
	margin: 0;
}


.flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.flex-justify-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.flex-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center;
}

#app {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
}

@-webkit-keyframes previous-blue {
	0% {   box-shadow: 0 0 0 0px rgba(0, 194, 215, 0.5); }
	100% { box-shadow: 0 0 0 10px rgba(0, 194, 215, 0.5); }
}

@keyframes previous-blue {
	0% {   box-shadow: 0 0 0 0px rgba(0, 194, 215, 0.5); }
	100% { box-shadow: 0 0 0 10px rgba(0, 194, 215, 0.5); }
}
@-webkit-keyframes previous-red {
	0% {   box-shadow: 0 0 0 0px rgba(254, 57, 46, 0.5); }
	100% { box-shadow: 0 0 0 10px rgba(254, 57, 46, 0.5); }
}
@keyframes previous-red {
	0% {   box-shadow: 0 0 0 0px rgba(254, 57, 46, 0.5); }
	100% { box-shadow: 0 0 0 10px rgba(254, 57, 46, 0.5); }
}
.tile {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100%;
	background-color: #cecece;
	background-clip: padding-box;
	font: inherit;
	padding: 0;
	border: 0;
	margin: 0;
	outline: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none
}
.tile.blocked:not(.blue):not(.red) {
	background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(0,0,0,.25) 10px, rgba(0,0,0,.25) 20px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0,0,0,.25) 10px, rgba(0,0,0,.25) 20px);
	pointer-events: none;
}
.tile.blue {
	background-color: #00c2d7 !important;
	color: white;
}
.tile.blue.previous {
	-webkit-animation: previous-blue 750ms linear infinite;
	        animation: previous-blue 750ms linear infinite;
}
.tile.red {
	background-color: #fe392e !important;
	color: white;
}
.tile.red.previous {
	-webkit-animation: previous-red 750ms linear infinite;
	        animation: previous-red 750ms linear infinite;
}
.board {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 100%;
	height: 100%
}
.board .tile {
	width: calc(33.333% - 2 * 4px);
	height: calc(33.333% - 2 * 4px);
	margin: 4px;
}
.board:nth-child(2n) {
}
.board:nth-child(2n) .tile {
	background-color: #a7a7a7;
}
.board.active .tile:not(.blocked):not(.blue):not(.red):not(:active) {
	-webkit-transform: translate(16px, -16px);
	        transform: translate(16px, -16px);
	cursor: pointer;
}
.board.active .tile:not(.blocked):not(.blue):not(.red):not(:active):before,
		.board.active .tile:not(.blocked):not(.blue):not(.red):not(:active):after {
	content: "";
	position: absolute;
	pointer-events: none;
}
.board.active .tile:not(.blocked):not(.blue):not(.red):not(:active):before {
	left: -16px;
	top: 0;
	bottom: -16px;
	width: 0;
	border-top: solid 16px transparent;
	border-right: solid 16px #717170;
}
.board.active .tile:not(.blocked):not(.blue):not(.red):not(:active):after {
	left: -16px;
	bottom: -16px;
	right: 0;
	height: 0;
	border-right: solid 16px transparent;
	border-top: solid 16px #717170;
}
.board.blue {
}
.board.blue .tile {
}
.board.blue .tile:not(.blue):not(.red) {
	background-color: #77dee9;
}
.board.blue .tile.red {
	background-color: #00c2d7 !important;
}
.board.red {
}
.board.red .tile {
}
.board.red .tile:not(.blue):not(.red) {
	background-color: #ffaba9;
}
.board.red .tile.blue {
	background-color: #fe392e !important;
}
.board.purple {
}
.board.purple .tile {
	background-color: #8b4fda !important;
}
.megaboard {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 800px;
	height: 800px
}
.megaboard .board {
	width: calc(33.333% - 2 * 4px);
	height: calc(33.333% - 2 * 4px);
	margin: 4px;
}
.megaboard.mini {
	width: 100px;
	height: 100px;
	margin: 0;
}
.megaboard.mini .board {
	width: 33.333%;
	height: 33.333%;
	margin: 0;
}
.megaboard.mini .board .tile {
	width: 33.333%;
	height: 33.333%;
	-webkit-transform: none !important;
	        transform: none !important;
	background-image: none !important;
	-webkit-animation: none !important;
	        animation: none !important;
	pointer-events: auto !important;
	cursor: inherit !important;
	margin: 0;
}
.megaboard.mini .board .tile img,
				.megaboard.mini .board .tile:before,
				.megaboard.mini .board .tile:after {
	display: none;
}

.turn-indicator {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	width: 100px;
	height: 100px;
	background-color: #717170;
	border-radius: 50%;
	overflow: hidden;
}

.gameview {
}

.gameview > header {
	margin: 8px 0;
}

.gameview > header input,
		.gameview > header output {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	font: inherit;
	font-size: 1.5em;
	text-align: center;
	margin: 8px;
}