:root {
	--bg: #e8e8e8;
	--light: #cecece;
	--dark: #a7a7a7;
	--darker: #717170;
	--darkest: #4d4d4d;

	--red: #fe392e;
	--blue: #00c2d7;
	--red-faded: #ffaba9;
	--blue-faded: #77dee9;
	--purple: #8b4fda;
	--green: #61bb1c;

	--perspective: 16px;
	--spacing: 4px;
}
* {
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	background-color: var(--bg);
}
body {
	padding: 0;
	margin: 0;
}


.flex-row {
	display: flex;
}
.flex-justify-center {
	justify-content: center;
}

#app {
	display: flex;
	width: 100%;
	height: 100%;
}

@keyframes previous-blue {
	0% {   box-shadow: 0 0 0 0px color(var(--blue) alpha(50%)); }
	100% { box-shadow: 0 0 0 10px color(var(--blue) alpha(50%)); }
}
@keyframes previous-red {
	0% {   box-shadow: 0 0 0 0px color(var(--red) alpha(50%)); }
	100% { box-shadow: 0 0 0 10px color(var(--red) alpha(50%)); }
}
.tile {
	appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(33.333% - 2 * var(--spacing));
	height: calc(33.333% - 2 * var(--spacing));
	background-color: var(--light);
	background-clip: padding-box;
	font: inherit;
	padding: 0;
	border: 0;
	margin: var(--spacing);
	outline: none;
	user-select: none;

	&.blocked:not(.blue):not(.red) {
		background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0,0,0,.25) 10px, rgba(0,0,0,.25) 20px);
		pointer-events: none;
	}
	&.blue {
		background-color: var(--blue) !important;
		color: white;
		
		&.previous {
			box-shadow: 0 0 0 10px color(var(--blue) alpha(50%));
			animation: previous-blue 750ms linear infinite;
		}
	}
	&.red {
		background-color: var(--red) !important;
		color: white;

		&.previous {
			box-shadow: 0 0 0 10px color(var(--red) alpha(50%));
			animation: previous-red 750ms linear infinite;
		}
	}
}
.board {
	display: flex;
	flex-wrap: wrap;
	width: calc(33.333% - 2 * var(--spacing));
	height: calc(33.333% - 2 * var(--spacing));
	margin: var(--spacing);

	&:nth-child(2n) {
		& .tile {
			background-color: var(--dark);
		}
	}
	&.active .tile:not(.blocked):not(.blue):not(.red):not(:active) {
		transform: translate(var(--perspective), -var(--perspective));
		cursor: pointer;

		&:before,
		&:after {
			content: "";
			position: absolute;
			pointer-events: none;
		}
		&:before {
			left: -var(--perspective);
			top: 0;
			bottom: -var(--perspective);
			width: 0;
			border-top: solid var(--perspective) transparent;
			border-right: solid var(--perspective) var(--darker);
		}
		&:after {
			left: -var(--perspective);
			bottom: -var(--perspective);
			right: 0;
			height: 0;
			border-right: solid var(--perspective) transparent;
			border-top: solid var(--perspective) var(--darker);
		}
	}
	&.blue {
		& .tile {
			&:not(.blue):not(.red) {
				background-color: var(--blue-faded);
			}
			&.red {
				background-color: var(--blue) !important;
			}
		}
	}
	&.red {
		& .tile {
			&:not(.blue):not(.red) {
				background-color: var(--red-faded);
			}
			&.blue {
				background-color: var(--red) !important;
			}
		}
	}
	&.purple {
		& .tile {
			background-color: var(--purple) !important;
		}
	}
}
.megaboard {
	display: flex;
	flex-wrap: wrap;
	width: 900px;
	height: 900px;
	padding: var(--spacing);
}

.turn-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: var(--darker);
	border-radius: 50%;
	overflow: hidden;

	& .tile {
		width: 100%;
		height: 100%;
		margin: 0;
	}
}